
   <div class="mb-4">
                            <label for="classe" class="form-label">
                                <i class="fas fa-graduation-cap me-1"></i>Classe *
                            </label>
                            <select class="form-select" id="classe" name="classe" required>
                                <option value="" selected disabled>Sélectionnez une classe</option>
                                <option value="CSS">CSS</option>
                                <option value="Bootstrap">Bootstrap</option>
                                <option value="Django">Django</option>
                                <option value="Python">Python</option>
                                <option value="SQL">SQL</option>
                            </select>
                        </div>
